<div *ngIf="destination$ | async as destination" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <!-- Conteneur principal -->
  <div class="space-y-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Image du produit -->
      <app-carousel-image [images]="destination.images"></app-carousel-image>

      <!-- Informations sur le produit -->
      <div>
        <h1 class="text-3xl font-extrabold text-gray-900 sm:text-4xl mb-4">{{ destination.name }}</h1>
        <div class="flow-root my-4">
          <dl class="-my-3 divide-y divide-gray-100 text-sm">

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="font-medium text-gray-900">Adresse</dt>
              <dd class="text-gray-700 sm:col-span-2">{{ destination.address }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="font-medium text-gray-900">Nombre de personne</dt>
              <dd class="text-gray-700 sm:col-span-2">{{ destination.capacity }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="font-medium text-gray-900">Prix</dt>
              <dd class="text-gray-700 sm:col-span-2">{{ destination.price }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="font-medium text-gray-900">Adresse email</dt>
              <dd class="text-gray-700 sm:col-span-2">{{ destination.contactEmail }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="font-medium text-gray-900">Numéro de téléphone</dt>
              <dd class="text-gray-700 sm:col-span-2">{{ destination.contactPhone }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="font-medium text-gray-900">Type</dt>
              <dd class="text-gray-700 sm:col-span-2">{{ destination.destinationType }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="font-medium text-gray-900">Average Rating</dt>
              <dd class="text-gray-700 flex items-center">
                <ng-container *ngIf="averageRating$ | async as averageRating">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                    <svg *ngIf="i < averageRating" class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg *ngIf="i >= averageRating" class="w-4 h-4 text-gray-300 me-1" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                  </ng-container>
                  <p
                    class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">{{ averageRating.toFixed(1) }}</p>
                  <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">out of</p>
                  <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">5</p>
                </ng-container>
              </dd>
            </div>

          </dl>
        </div>

        <button
          class="text-green-600 hover:text-green-800 font-semibold text-lg"
          (click)="openItineraryModal(destination)">
          Ajouter à l'itinéraire
        </button>
      </div>
    </div>

    <!-- Sections sous l'image et la partie droite -->

    <!-- Section 1: Détails supplémentaires -->
    <div class="bg-gray-50 p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-semibold text-gray-800">Détails de la destination</h2>
      <p class="text-gray-600 mt-2">{{ destination.description }}</p>
    </div>

    <!-- Section 2: Caractéristiques -->
    <div class="bg-gray-50 p-6 rounded-lg shadow-md">

      <h2 class="text-xl font-semibold text-gray-800">Caractéristiques</h2>
      <ul class="list-disc pl-5 text-gray-600 mt-2">
        <li *ngFor="let tag of destination.tags">
        <span class="whitespace-nowrap rounded-full border border-green-400 px-2.5 py-0.5 text-sm text-green-700">{{ tag }}</span>
        </li>
      </ul>
    </div>

    <!-- Section 3: Avis clients -->
    <div class="bg-gray-50 p-6 rounded-lg shadow-md">
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-semibold text-gray-800">Avis clients</h2>
        <button *ngIf="myId" (click)="showReviewForm()" class="text-blue-600 hover:text-blue-800 font-semibold text-lg">
          Votre avis
        </button>
      </div>

      <ng-container *ngIf="isReviewFormVisible">
        <app-review-form *ngIf="myReview$ | async as myReview"
                         [reviewOfDestination]="myReview"
                         (closeForm)="toggleReviewForm($event)">
        </app-review-form>
      </ng-container>

      <div class="flex flex-col gap-10 sm:grid sm:grid-cols-2 lg:flex lg:flex-row lg:flex-wrap lg:justify-center">
        <app-review-card *ngFor="let review of reviews$ | async" [reviewOfDestination]="review"></app-review-card>
        <p *ngIf="(reviews$ | async)?.length === 0" class="text-center text-gray-500">No reviews found.</p>
      </div>
    </div>
    <app-itinerary-modal *ngIf="isItineraryModalVisible"
                         [destination]="destination"
                         (closeModal)="closeItineraryModal()">
    </app-itinerary-modal>
  </div>
</div>

