<main class="bg-cover bg-center bg-no-repeat min-h-screen flex items-center justify-center"
      style="background-image: url('create-destination-background.jpg');">

  <div class="bg-white bg-opacity-90 shadow-lg rounded-xl w-4/5 md:w-3/5 lg:w-2/5 p-8 backdrop-blur-lg">
    <h1 class="text-gray-800 text-3xl font-bold mb-6 text-center">Créer une nouvelle destination</h1>

    <form [formGroup]="destinationForm" (ngSubmit)="handleSubmit()" class="space-y-6">
      <!-- General Information -->
      <h2 class="text-lg font-semibold text-gray-700 border-b pb-2">Informations Générales</h2>

      <div class="grid grid-cols-1 gap-4">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-600">Nom</label>
          <input
            id="name" type="text" formControlName="name" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>

        <div>
          <label for="description" class="block text-sm font-medium text-gray-600">Description</label>
          <textarea id="description" formControlName="description" rows="4" required
                    class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"></textarea>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="price" class="block text-sm font-medium text-gray-600">Prix</label>
            <input id="price" type="text" formControlName="price" required
                   class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
          </div>
          <div>
            <label for="capacity" class="block text-sm font-medium text-gray-600">Capacité</label>
            <input id="capacity" type="text" formControlName="capacity" required
                   class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
          </div>
        </div>

        <div>
          <label for="contactPhone" class="block text-sm font-medium text-gray-600">Téléphone de Contact</label>
          <input id="contactPhone" type="text" formControlName="contactPhone" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>

        <div>
          <label for="contactEmail" class="block text-sm font-medium text-gray-600">Email de Contact</label>
          <input id="contactEmail" type="email" formControlName="contactEmail" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>

        <div>
          <label for="type" class="block text-sm font-medium text-gray-600">Type de Destination</label>
          <select id="type" formControlName="type"
                  class="px-2 py-1 w-full rounded-lg border-gray-300 bg-white focus:ring focus:ring-blue-300 shadow-sm">
            <option value="" selected>Veuillez sélectionner une option</option>
            <option *ngFor="let type of (destinationTypes | async); trackBy: trackByFn" [value]="type">
              {{ type | titlecase }}
            </option>
          </select>
        </div>

        <label for="isVisible" class="inline-flex items-center cursor-pointer">
          <input id="isVisible" formControlName="isVisible" type="checkbox" value="" class="sr-only peer">
          <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          <span class="ms-3 text-sm font-medium text-gray-600">Visible</span>
        </label>
      </div>

      <!-- Address Information -->
      <h2 class="text-lg font-semibold text-gray-700 border-b pb-2 mt-6">Adresse</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="country" class="block text-sm font-medium text-gray-600">Pays</label>
          <input id="country" type="text" formControlName="country" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>
        <div>
          <label for="location" class="block text-sm font-medium text-gray-600">Localisation</label>
          <input id="location" type="text" formControlName="location" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>
        <div>
          <label for="street" class="block text-sm font-medium text-gray-600">Rue</label>
          <input id="street" type="text" formControlName="street" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>
        <div>
          <label for="number" class="block text-sm font-medium text-gray-600">Numéro</label>
          <input id="number" type="text" formControlName="number" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>
        <div>
          <label for="zipcode" class="block text-sm font-medium text-gray-600">Code Postal</label>
          <input id="zipcode" type="text" formControlName="zipcode" required
                 class="px-2 py-1 w-full rounded-lg border-gray-300 focus:ring focus:ring-blue-300 shadow-sm"/>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-end">
        <button type="submit"
                class="bg-blue-500 text-white font-semibold px-6 py-2 rounded-lg shadow-lg hover:bg-blue-600">
          Créer Destination
        </button>
      </div>
    </form>
  </div>
</main>
